<ion-content>
  <ion-slides pager="true" mode="md" [options]="slideOpts" #mySlider>

    <ion-slide>
      <div class="slide">
        <img src="/assets/img/Kerfin7_NEA_2332.png"/>
        <div class="content">
          <h2>Disfruta de los mejores juegos en Streaming</h2>
          <p>No te pierdas de ninguno de los juegos mas populares con tus streamers favoritos.</p>
        </div>
        <ion-button class="personal" (click)="swipeNext()">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-button>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <img src="/assets/img/game.png"/>
        <div class="content">
          <h2>Disfruta de los mejores juegos en Streaming</h2>
          <p>No te pierdas de ninguno de los juegos mas populares con tus streamers favoritos.</p>
        </div>
        <ion-button class="personal" (click)="swipeNext()">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-button>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <img src="/assets/img/Kerfin7_NEA_2332.png"/>
        <div class="content">
          <h2>Disfruta de los mejores juegos en Streaming</h2>
          <p>No te pierdas de ninguno de los juegos mas populares con tus streamers favoritos.</p>
        </div>
        <ion-button class="personal" (click)="finish()">
          <ion-icon name="enter"></ion-icon>
        </ion-button>
      </div>
    </ion-slide>

  </ion-slides>

</ion-content>
